body { 
	padding-top: 70px;
}

#header-nav {
	background-color: grey;
}

.navbar-default .navbar-nav>li>a {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 1.2em;
}



#chicken {
	background-color: grey;
}

#beef {
	background-color: grey; 
}

#sushi {
	background-color: grey;
}



.navbar-default .navbar-brand {
  color: white;
}
